/*alibaba 字体*/
@font-face {
  font-family: 'Alibaba Sans';
  src: url("../fonts/AlibabaSans Nornal/AlibabaSans-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Alibaba Sans';
  font-weight: 300;
  src: url("../fonts/AlibabaSans Nornal/AlibabaSans-Light.otf") format("opentype");
}
@font-face {
  font-family: 'Alibaba Sans';
  font-weight: 500;
  src: url("../fonts/AlibabaSans Nornal/AlibabaSans-Medium.otf") format("opentype");
}
@font-face {
  font-family: 'Alibaba Sans';
  font-weight: 700;
  src: url("../fonts/AlibabaSans Nornal/AlibabaSans-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'Alibaba Sans';
  font-weight: 900;
  src: url("../fonts/AlibabaSans Nornal/AlibabaSans-Black.otf") format("opentype");
}
